<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package="{{android.package}}">
    <uses-sdk android:minSdkVersion="{{android.minimum_sdk_version}}" android:targetSdkVersion="{{android.target_sdk_version}}" />
    <application>
      <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
      <meta-data android:name="firebase_crashlytics_enabled" android:value="true"/>
    </application>
</manifest>
